<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="acelerometro">
        <ion-icon name="bicycle-outline"></ion-icon>
        <ion-label>Acelerometro</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="gps">
        <ion-icon name="map"></ion-icon>
        <ion-label>GPS</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="giroscopio">
        <ion-icon name="compass-outline"></ion-icon>
        <ion-label>Gitoscópio</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
