<ion-content [fullscreen]="true">
  <div class="content">
    <p>Aula de Aplicativos para dispositivos Móveis</p>
    <p>Testar o Service que acumula os valores das telas</p>
    <ion-input
      placeholder="Teu numero"
      type="number"
      text-right
      [(ngModel)]="var1"
    ></ion-input>
    <ion-input
      placeholder="Teu numero"
      type="number"
      text-right
      [(ngModel)]="acumulado"
    ></ion-input>
    <ion-button color="primary" (click)="usarService(var1)" expand="full"
      >Primary</ion-button
    >
  </div>
</ion-content>
